body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0;
}

#titlebar{
	margin-top: -3rem;
	margin-left: -2rem;
	margin-right: -2rem;
	height:6rem;
	background-color: #C4DDE2;
	text-align: center;
	padding-top: 2rem;
}

#name{
	margin-top : 3em;
}

#static{
	margin-top: 2rem;
	margin-right: 0.5rem;
	width: 44%;
	height: 35rem;
	float: left;
    text-align: center;
}

#content{
	width:90%;
	float: right;
	margin-top: -1.5rem;
}

button#login{
	float: right;
	margin-right: 5rem;
	margin-top: -2rem;
	color:white
	width:3rem;
	background-color: #99CCFF;
}

.choice{
	display:inline-block;
	margin-top: 0.2rem;
	margin-bottom: -0.2rem;
}

input{
	background-color: #C4DDE2;
	border: none;
	height: 2rem;
	border-radius: 10px;
	width: 3rem;
}

span{
	width: 200%;
}

#CC{
	margin-left: 45%;
}

#passage{
	margin-top: 1rem;
    border-style: solid;
	height: 100%;
}

#passage #text{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	height: 80%;
	width: 80%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	overflow: scroll;
}

#quiz{	
	margin-top: 5rem;
	margin-left: 0.5rem;
	margin-bottom: 3rem;
	float: left;
	width: 44%;
    height: 35rem;
    overflow-y: auto;
    border-style: solid;
	text-align: center;
}
#prompt{
	margin-top: 1rem;
	border-style: solid;
}

#answer_choices{
	margin-top: 2rem;
	margin-left: auto;
	margin-right: auto;
	height: 80%;
	width: 80%;
	border-style: solid;
}
#answer_choices #texts{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	height: 70%;
	width: 80%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	overflow: scroll;
}
/*
.btn btn-default{
	float: right;

}

.message{
	margin-bottom: 10px;
	height: 40%;
	border: black;
	border-radius: 3px;	
	background-color: #C4D8E2;
	color:white;
}

.date{
	padding:1%;
}

.body{
	height: 45%;
	padding:1%;
}


.title{
	padding:1%;
	border-bottom-style: solid;
	border-color: #C4E8E2;
}

.longitude{
	
	padding:1%;
}
.latitude{
	padding:1%;
}*/
