@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

body {
  font: 14px 'Noto Sans', Helvetica sans-serif;	;
  padding: 0;
  margin:0;
}

#titlebar{
	position: absolute;
	width: 100%;
	margin: 0;
	top: 0;
	height:8%;
	background-color: #C4DDE2;
	text-align: center;
}

#name{
	position: absolute;
	top: 40%;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;	
	width: 300px;
	font: 16px Helvetica;
}

#name a{
	text-decoration: none;
	color: black;
}

#name a:visited {
    text-decoration: none;
}

button#login{
	position: absolute;
	top: 40%;
	margin: 0;
	right: 5%;
	font: 16px Helvetica;
	color:black;
	width:5rem;
	padding: 0;
	background-color: transparent;
	border: 0;
	cursor:pointer;
}

button#login:hover{
	color: white;
}

#content{
	position: absolute;
	width:65%;
	top: 8%;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	height: 80%;
}

#static{
	margin-right: 0;
	width: 49%;
	height: 100%;
	float: left;
    text-align: center;
	border: 0;
}

.choice{
	display:inline-block;
	margin-top: 3%;
	margin-bottom: 0;
}

button#choose_passage{
	background-color: transparent;
	padding: 0;
	border-color: #ccc;
	border-style: solid;
	height: 2rem;
	border-radius: 0;
	width: 3rem;
	cursor:pointer
}
span{
	width: 100%;
}

#CC{
	margin-left: 35%;
}

#static #text{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	height: 80%;
	width: 90%;
	position: relative;
	top: 5%;
	overflow: scroll;
	padding-bottom: 1%;
}

#static #text p {
	padding-left: 1%;
	padding-right: 1%;
}

#quiz{	
	margin-left: 2%;
	border: 0;
	float: left;
	width: 49%;
    height: 100%;
    overflow-y: auto;
    border-style: solid;
	text-align: center;
}

#prompt{
	margin-top: 3%;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	border-style: solid;
	font-size: 13px;
	height: 2rem;
	overflow: auto;	
}

#prompt p{
	position: relative;
	top: 25%;	
	overflow: auto;	
	margin: 0;	
}

#answer_choices{
	position: relative;
	top: 4%;
	margin-left: auto;
	margin-right: auto;
	height: 80%;
	width: 90%;
	margin-bottom: 0;	
	border-style: solid;
	padding-bottom: 1%;
}

#answer_choices #texts{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	height: 70%;
	width: 80%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	overflow: scroll;
}




/* Contact form */

form label {
  font-size: 1.2em;
  font-weight: bold;
  display: block;
  padding: 10px 0;
}

form input#submit {
  display: block;
  -webkit-border-radius: 3px; 
     -moz-border-radius: 3px;
          border-radius: 3px;
  border:1px solid #d8d8d8;
  padding: 10px; 
  font-weight:bold; 
  text-align: center; 
  color: #000000; 
  background-color: #f4f4f4;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, #e5e5e5));
  background-image: -webkit-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: -moz-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: -ms-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: -o-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: linear-gradient(top, #f4f4f4, #e5e5e5);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f4f4, endColorstr=#e5e5e5);
}
 
form input#submit:hover{
  cursor: pointer;
  border:1px solid #c1c1c1; 
  background-color: #dbdbdb;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dbdbdb), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: -moz-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: -ms-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: -o-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: linear-gradient(top, #dbdbdb, #cccccc);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#dbdbdb, endColorstr=#cccccc);
}

form textarea {
  display: block;
  width: 250px;
  height: 100px; 
  background-color: #fafafa;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  border: 1px solid #cccccc;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 1.1em;
}

.flash {
  background-color: #FBB0B0;
  padding: 20px;
  width: 400px;
}