{% extends "index.html" %}
{% block results %}
	<div id="content">
		<div id="static">
			<div id="lithum" class = "choice"><input type="button" name="choose passage" value="LitHum"></div>
			<div id="CC" class = "choice"><input type="button" name="choose passage" value="CC"></div>
			<div id="passage">
				<div id="text">
				{% for content in passage -%}
				     <p>{content}</p>
				{% endfor -%}
				</div>
			</div>
		</div>
		<div id="quiz">
			<div id="prompt">Choose the author of the book from which this quote was taken </div>
			<div id="answer_choices">
			</div>
		</div>
	</div>
{% endblock %}