{% import "macros.html" as macros %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Passage ID</title>
	<link rel="stylesheet" href="../static/css/style.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="../static/js/login_form.js"></script>
</head>
<body>
	<div id="titlebar">
		<div id="name">Passage ID</div>
		 <div id="login">
			<form action="/login" method="post">
            	<button type="submit" id = "login">Login</button>
        	</form>
		</div>
		<div id="quiz"></div>

		{{ macros.render_field(form.title) }}
	</div>
	 {% block results %}
	 {% endblock %}
</body>
</html>
