{% extends "index.html" %}

{% block head %}
	<link rel="stylesheet" href="../static/css/home_content.css">
	<link rel="stylesheet" href="../static/css/multiple_choices.css">
{% endblock %}

{% block body %}
	<div id="content">
		<div id="static">
			<div id="lithum" class = "choice">
				<form action="/LitHum" method="post">
				    <button type= "submit" id = "choose_passage">Lithum</button>
				</form>
			</div>
			<div id="CC" class = "choice">
				<form action="/CC" method="post">
				    <button type= "submit" id = "choose_passage">CC</button>
				</form>
			</div>
			<div id="text">
			    {{content2.quote}}
			</div>
			<div id="add_content" class = "choice">
				{% if loggedIn %}
					<form action="/form" method="get">
					    <button type= "submit" id = "submit_passage"> Add Passage
					    </button>
					</form>
				{% else %}
					<button type= "submit" id = "submit_passage"> Add Passage </button>
					<script>
						$("#submit_passage").click(function(event) {
							alert("You have to be logged in!");
						});
					</script>
				{% endif %}
			</div>
		</div>
		<div id="quiz">
			
			<div id="prompt">
				{% if correct%}
				<p>Correct!</p>	
				{% endif %}
				<p>Choose the title of the book from which this quote was taken </p>
			</div>
			<div id="answer_choices">
				<div id="text">
					<div id = 'title'>
						{{content2.title}}	
					</div>
					<div id = 'multiple_choices'>
						<form action="/answer" method="POST">
							{{ form.choices.label }}
							{{ form.choices }}

							{{ form.submit }}
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
