{% extends "index.html" %}
{% block header %}
	<div id="name">
		<a href = "/">Passage ID</a>
	</div>
	<div id="login">
			<form action="/login" method="post"> 
            	<button type="submit" id = "login">Login <i class="fa fa-sign-in fa-lg"></i></button>
        	</form>
	</div>
{% endblock %}

{% block body %}
	<div id="content">
		<div id="static">
			<div id="lithum" class = "choice">
				<form action="/" method="post">
				    <button type= "submit" id = "choose_passage">Lithum</button>
				</form>
			</div>
			<div id="CC" class = "choice">
				<form action="/" method="post">
				    <button type= "submit" id = "choose_passage">CC</button>
				</form>
			</div>
			<div id="text">
			    <p>{{content2.content}}</p>
			</div>
		</div>
		<div id="quiz">
			<div id="prompt">
				<p>Choose the author of the book from which this quote was taken </p>
			</div>
			<div id="answer_choices">
				<div id="text">
					<p>{{content2.title}}</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
