<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Passage ID</title>
	<link rel="stylesheet" href="../static/css/header.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="../static/js/login_form.js"></script>
	{% block head %}
	{% endblock %}
</head>
<body>
	<div id="titlebar">
	<div id="name">
		<a href = "/">Passage ID</a>
		</div>
		{% if loggedIn %}
			<div id="login">
		        <form action="/logout" method="get"> 
		            	<button type="submit" id = "logout" class = "login_out">{{ uni }} &nbsp;<i class="fa fa-sign-out fa-lg"></i></button>
		        </form>
			</div>
		{% else %}
			<div id="login">
					<form action="/login" method="get"> 
		            	<button type="submit" id = "login" class = "login_out">Login &nbsp;<i class="fa fa-sign-in fa-lg"></i></button>
		        	</form>
			</div>
		{% endif %}
	</div>
	{% block body %}
	{% endblock %}
</body>
</html>
